@tailwind base;
@tailwind components;
@tailwind utilities;



html{
    scroll-padding: 100px;
    scroll-behavior: smooth ;
    font-family: 'montserrat', sans-serif;
}

.btn{
    @apply  rounded-custom py-1 px-2 min-w-[100px] text-apple-50 font-semibold hover:scale-[0.95] 
    bg-gradient-to-r from-apple-400 to-apple-600 ease-linear duration-200
}

.subtitle{
    @apply text-2xl md:text-4xl font-bold text-center
}

.main-gradient{
    @apply bg-apple-50
}

.title-gradient{
    @apply  bg-gradient-to-r from-apple-400 to-apple-700 text-transparent bg-clip-text
}


